<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Chromebook Ticket API</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  {{> header}}
  {{{body}}}
</body>
</html>
