<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Chromebook Ticket API</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  {{> header}}
  <div class="container">
    {{{body}}}
  </div>
</body>
</html>
